#root {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 50px;
}

li {
  list-style-type: none;
}

p, a, li, ul, ol, textarea {
  font-size: 1rem;
}

input {
  font-family: inherit;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  color: #fefefe;
  background-color: var(--bg-color-grey);
  border: 0.5px solid white;
  margin-right: 0.5rem;
}

input[type="text"] {
  width: 20vw;
}

input:focus {
  border: 0.5px solid white;
}

button:hover {
  border: 2px solid white;
}

.description {
  margin: 10px;
}

.task {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  width: 500px;
  gap: 10px;
  /* background-color: brown; */
  /* border: 1px solid yellow; */
  margin: 5px auto;
}

.task__list {
  margin: 0 auto;
  /* background-color: green; */
}

.btn {
  background-color: black;
  padding: 0.5rem;
  color: #fefefe;
  cursor: pointer;
}

